body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #2e2e2e;
  padding: 20px 0;
  border-bottom: 3px solid #f2b705;
  text-align: center;
  margin-bottom: 30px;
}

.menu-lateral {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 180px;
  background-color: #2e2e2e;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.menu-lateral.visivel {
  transform: translateX(0);
}

.menu-lateral a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 12px 0;
  display: block;
  transition: background-color 0.3s;
  font-size: 1rem;
}

.menu-lateral a:hover,
.menu-lateral a.ativo {
  background-color: #f2b705;
  color: black;
  border-radius: 4px;
  text-decoration: underline;
}

.botao-menu {
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 1100;
  padding: 0;
}

.botao-menu img {
  width: 24px;
  height: auto;
  filter: invert(1);
}

.botao-menu:hover {
  background-color: #f2b705ab;
}

header h1 {
  color: #ffffff;
  font-size: 1.8rem;
  margin: 0;
}

h2 {
  text-align: center;
}

/* Filtros */
#tabela-bebidas thead input[type="text"] {
  width: 90%;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  background-color: #fefefe;
  box-sizing: border-box;
  text-align: center;
}

#tabela-bebidas thead tr:first-child th {
  background-color: #fffde7;
  border-bottom: none;
  padding: 5px;
}

#tabela-bebidas thead tr:nth-child(2) th {
  background-color: #f2b705;
  color: #000;
  font-weight: bold;
  padding: 8px;
}

input[type="search"] {
  padding: 10px;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  margin: 0 auto 20px auto;
  max-width: 55%;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2b705;
}

table img {
  max-width: 250px;
  max-height: 250px;
  min-width: 100px;
  min-height: 100px;
  object-fit: contain;
}



button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin: 2px;
}

.editar {
  background-color: #007bff;
  color: white;
}

.excluir {
  background-color: #dc3545;
  color: white;
}

.salvar {
  background-color: #28a745;
  color: white;
}

input[type="text"],
input[type="number"] {
  width: 90%;
}

/* RESPONSIVIDADE */
@media (max-width: 768px) {
  table {
    max-width: 95%;
    font-size: 0.8rem;
  }

  img {
    width: 60px;
    height: auto;
  }

}

@media (max-width: 480px) {
  table {
    max-width: 100%;
    font-size: 0.7rem;
  }

  img {
    width: 50px;
    height: auto;
  }

  button {
    padding: 4px;
    font-size: 0.7rem;
  }

  .botao-menu img {
    width: 20px;
  }

  header h1 {
    font-size: 1rem;
  }
}
